/* font-family: 'Lato', sans-serif; */
.landing-page {
    background-color: #fdfafa;
    width: 100%;
}
.search-field {
    width: 336px;
    height: 56px;
    border-radius: 5px;
    background-color: #d6dbf5;
}

.search-field::placeholder {
    padding: 13px 140px 15px 26px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 27.2px;
    font-weight: 400;
}
.current-date {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.2px;
}
.header-container {
    width: 84%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.header-container2 {
    display: flex;
}
.header-p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}
.lcard-container {
    width: 80%;
    margin: 70px auto 0px auto;
}
.lcard-container > h1 {
    width: fit-content;
    font-family: "Lato", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: auto;
    color: #060709;
    text-align: center;
    margin: 0px auto 30px auto;
}
.lcard-container > p {
    width: 65%;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #313335b2;
    margin: 0px auto 20px auto;
}
.lcard2-container {
    width: 84%;
    display: flex;
    margin: auto;
}
.Lcard-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h3-heading {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: auto;
    text-align: center;
    color: #060709;
}
.lcard2-p {
    width: 84%;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #313335b2;
}
.lcard3 {
    width: 100%;
    height: 830px;
    background-color: #e9f1f2;
    margin: 80px 0 0 0;
}
.main-heading {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: #060709;
    margin: 40px 0 30px 0;
}
.sub-heading {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: auto;
    text-align: center;
    color: #060709cc;
    margin-top: 25px;
}
.parag {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: auto;
    color: #313335b2;
    margin-bottom: 35px;
}
.bckgd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #b5ccf5;
    background-color: #16498c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.numb {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: auto;
    color: #ffffff;
}
.lcard4 {
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}
.lcard5 {
    width: 100%;
    height: 230px;
    background-color: #122a59;
}
#email-field {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background-color: #f8f8f8fa;
}
#email-field::placeholder {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    padding-left: 15px;
}
#lfooter {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: flex-end;
}
